:root,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  overflow-x: hidden;
}

@import "tailwindcss";

@theme {
  --color-main: #513dff;
  --color-cast-gray: #5b5a5b;
  --inset-shadow-dark: inset 0px 200px 20px 0px rgba(0, 0, 0, 0.5);
  --shadow-cust1: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  --text-header: clamp(1rem, 5vw, 3.75rem);
  --text-paragraph: clamp(0.8rem, 2vw, 1.5rem);
  --spacing-start-page-exemple-card: clamp(200px, 22vw, 400px);
  --spacing-start-page-exemple-card-900: clamp(250px, 40vw, 500px);
}

input[type="checkbox"]:checked {
  appearance: none;
  background: rgb(0, 0, 255);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #5c5d5e;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  margin: 0;
}

/* Стилизация выбранного состояния радиокнопки */
input[type="radio"]:checked {
  background-color: rgb(0, 0, 255);
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

/* Стилизация отключённого состояния радиокнопки */
input[type="radio"]:disabled {
  filter: none;
  opacity: 0.5;
  cursor: not-allowed;
}
